body{
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}

#title{
  color: black;
  font-size: 100px;
  font-weight: bolder;
  align-self: center;
}

#banner{
  width: 25vw;
  height: 50vh;
  align-self: center;
  justify-self: center;
  display: flex;
  
}

#banner img {
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
}

